body {
    background: #2E95EF;
    background-image: -moz-radial-gradient(center 45deg, circle cover, #9BD1FF, #2E95EF);
    background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 800, from(#9BD1FF), to(#2E95EF));
    padding-top: 15%;
}

.img-error {
    width: 220px;
    height: 220px;
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn-primary {
    color: black;
    background-color: #E4C0C7;
}

.btn-primary:hover {
    transition: 0.5s;
    color: white;
    background-color: #541D38;
}

h2,
p {
    text-align: center;
}