html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: whitesmoke;
}

#title {
    color: darkred;
    font-weight: 600;
}

.container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.fav-btn {
    cursor: pointer;
}

.table td, .table th {
    vertical-align: middle;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: whitesmoke;
    z-index: 99;
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url("../assets/pacman.gif") no-repeat center;
    margin: -100px 0 0 -100px;
}

#table {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
}

#challenge-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

#button, #logout {
    transition: 0.5s;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
    background-color: #447e9b;
    color: whitesmoke;
}

#button {
    margin-right: 1rem;
}

#button:hover, #logout:hover {
    transition: 0.5s;
    color: white;
    background-color: darkred;
}

.login {
    background-color: whitesmoke;
    opacity: 0.9;
    border: 2px solid black;
    width: 24rem;
    padding: 4rem 1rem;
    border-radius: 1rem;
    box-shadow: gray 4px 4px 2px 2px;
}

.login h5 {
    padding-bottom: 1rem;
}

.body-login {
    height: 100vh;
    background: url("../assets/bg.jpg") no-repeat no-repeat fixed center;
    background-size: cover;
}

.body-login > h1 {
    color: darkred;
}

.fail {
    color: red;
}

.success {
    color: forestgreen;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

.yellow {
    content: url("../assets/favorited.png");
    width: 25px;
    height: 25px;
}

.def {
    transition: 0.5s;
    content: url("../assets/default.png");
    width: 25px;
    height: 25px;
}

.def:hover {
    transition: 0.5s;
    content: url("../assets/favorited.png");
}

@media screen and (max-width: 768px) {
    #table {
        display: block;
    }
}