{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Challenge Book!</title>
    {% include 'base.html' %}
</head>
<body>
<section class="container">
    <h1 id="title" align="center">Google Books Collections</h1>
    <div class="btn-group">
        <input type="text" id="myInput" placeholder="Search for books title..">
        <button id="search" onclick="getChallenge()">Search!</button>
    </div>
    <div class="btn-group">
        <button id="home"><a href="{% url 'main' %}">Take Me Home!</a></button>
    </div>
    <h4 class="favorited"><i class="fas fa-star"></i>Favorited Books: <span id="counter">0</span></h4>
    <table id="table" class="table table-hover table-striped table-bordered">
        <thead class="thead-light">
        <tr align="center">
            <th>Cover</th>
            <th>Title</th>
            <th>Author</th>
            <th>Published Date</th>
            <th><img width="25" height="25" src="{% static 'assets/favorite.png' %}"></th>
        </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
    </table>
</section>
</body>
<script>
    var counter = 0;
    var favIcon = "{% static 'assets/favorited.png' %}";
    var defIcon = "{% static 'assets/default.png' %}";

    function fav(caller) {
        console.log("clicked");
        if ($(caller).attr('src') === defIcon) {
            $(caller).attr('src', favIcon);
            counter++;
            $("#counter").html(counter);
        } else {
            $(caller).attr('src', defIcon);
            counter--;
            $("#counter").html(counter);
        }
    }

    function getChallenge() {
        var txt = $("#myInput").val();
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        var url_ajax = '../ajax/?query=' + txt;
        var html;

        $.ajax({
            method: 'GET',
            url: url_ajax,
            headers: {
                "X-CSRFToken": csrftoken,
            },
            success: function (result) {
                $('tbody').empty();
                for (var i = 0; i < result['items'].length; i++) {
                    html =
                        "<tr>" +
                        "<td align='center'>" + "<img width='80' height='100' src='" + result['items'][i].volumeInfo.imageLinks.thumbnail + "'>" + "</td>" +
                        "<td>" + result['items'][i].volumeInfo.title + "</td>" +
                        "<td>" + result['items'][i].volumeInfo.authors[0] + "</td>" +
                        "<td>" + result['items'][i].volumeInfo.publishedDate + "</td>" +
                        "<td align='center'><img onclick='fav(this)' width='25' height='25' src='" + defIcon + "'></td>" +
                        "</tr>";
                    $('#tbody').append(html);
                }
            }
        })
    }

</script>
</html>