{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-signin-client_id"
          content="123463855450-fbctk2q3d0fnmt219l0o4oclphv2n10f.apps.googleusercontent.com">
    <title>Books Collection</title>
    {% include 'base.html' %}
    <script rel="script" type="text/javascript" src="{% static 'js/index.js' %}"></script>
</head>
<body onload="getData()" id="body">
<section class="container">
    {% csrf_token %}
    <h1 id="title" align="center">Google Books Collections</h1>
    <h4 align="center">Welcome back, {{ name }}!</h4>
    <div id="challenge-page">
        <a id='button' href="{% url 'challenge-page' %}">CHALLENGE</a>
        <a id="logout" href="{% url 'logout' %}" onclick="signOut()">LOGOUT</a>
    </div>
    <h4 class="favorited"><i class="fas fa-star"></i>Favorited Books: <span id="counter">{{ count }}</span></h4>
    <table id="table" class="table table-hover table-striped table-bordered">
        <thead class="thead-light">
        <tr align="center">
            <th>Cover</th>
            <th>Title</th>
            <th>Author</th>
            <th>Published Date</th>
            <th><img width="25" height="25" src="{% static 'assets/favorite.png' %}"></th>
        </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
    </table>
</section>
</body>
</html>

