{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-signin-client_id"
          content="123463855450-fbctk2q3d0fnmt219l0o4oclphv2n10f.apps.googleusercontent.com">
    <title>Login Page</title>
    {% include 'base.html' %}
</head>
<body class="body-login d-flex flex-column justify-content-center align-items-center">
<h1>Google Books API Collections</h1>
<section class="d-flex justify-content-center align-items-center">
    {% csrf_token %}
    <div class="login container d-flex flex-column justify-content-center align-items-center">
        <h5 align="center">Please Login First with Your Google Account!</h5>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </div>
</section>
</body>
<script rel="script" type="text/javascript" src="{% static 'js/index.js' %}"></script>
</html>